<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>조선대 예약 시스템</title>

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/common.css}">

    <script th:href="@{js/jquery.min.js}"></script>
    <script th:href="@{js/bootstrap.min.js}"></script>
  </head>

  <body>
    <div id="container">
      <header th:replace="fragments/header-defalut :: headerFragment"></header>
      <div layout:fragment="content"></div>
      <!--<footer th:replace="fragments/footer :: footerFragment"></footer>-->
    </div>
  </body>

</html>