<!DOCTYPE html>
<html lang="en">
  <head th:fragment="configFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/common.css}">
    <th:block layout:fragment="css"></th:block>

    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <th:block layout:fragment="script"></th:block>
  </head>
</html>