<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment">
  <div id="footerArea" class="row" style="margin-left: 0; display: block;">
    <div class="footerMenu col-xs-3">
      <img class="footerIcon pointer" th:src="@{image/footer/report.png}"
           th:if="${session.loginType}=='1'" onclick="location.href='/report_t'"/>
      <img class="footerIcon pointer" th:src="@{image/footer/report.png}"
           th:if="${session.loginType}=='2'" onclick="location.href='/report_s?dept_no=0&teacher_id=0'"/>
    </div>
    <div class="footerMenu col-xs-3">
      <img class="footerIcon pointer" th:src="@{image/footer/schedule.png}"
           onclick="location.href='/schedule'"/>
    </div>
    <div class="footerMenu col-xs-3">
      <img class="footerIcon pointer" th:src="@{image/footer/notice.png}"
           onclick="location.href='/notice'"/>
    </div>
    <div class="footerMenu col-xs-3">
      <img class="footerIcon pointer" th:src="@{image/footer/mypage.png}"
           onclick="location.href='/mypage'"/>
    </div>
  </div>
</footer>
</html>