<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
  <div>
    <div id="headerTitle">
      <img class="titleIcon" id="homeBtn" th:src="@{image/home.png}" onclick="location.href='/'"/>
      <span onclick="location.href='/'">조치대 레포트 관리시스템</span>
      <img class="titleIcon titleIconLogout" id="logoutBtn" th:src="@{image/logout.png}"/>
    </div>
    <div class="loginInfo">
      <span>안녕하세요,&nbsp;</span>
      <span class="loginInfoName" th:if="${session.loginType}=='1'" th:text="${session.loginUser.teacher_name}"></span>
      <span th:if="${session.loginType}=='1'">&nbsp;</span>
      <span th:if="${session.loginType}=='1'" th:text="${session.loginUser.teacher_position}"></span>
      <span class="loginInfoName" th:if="${session.loginType}=='2'" th:text="${session.loginUser.student_name}"></span>
      <span th:if="${session.loginType}=='2'">&nbsp;님!</span>
    </div>
  </div>
</header>
</html>