.center {
  width: 70%;
  text-align: center;
  margin: 2rem auto;
}
.center2 {
  color: black;
  font-size: 1rem;
  width: 85%;
  margin: 1rem auto;
  text-align: left;
}
.center3 {
  color: black;
  font-size: 1rem;
  width: 90%;
  margin: 1rem auto;
  text-align: left;
}
.area {
  margin-bottom: 2rem;
}
.area2 {
  margin-top: 0.5rem;
}
.adminTitle {
  margin-top: 0.5rem;
}
hr {
  margin: 0 0 1rem 0;
}
.adminMenu {
  text-align: left;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 0 1rem;
  background-color: #f8f2ec;
  border-radius: 0.5rem;
}
.menuIcon {
  width: 1rem;
  margin-right: 1.5rem;
}
.menuName {
  font-size: 0.7rem;
  font-weight: bold;
  color: #2B2119;
}
