.editAccountArea{
  padding: 1rem;
  text-align: center;
  width: 90%;
  background-color: #ECDCCB;
  border-radius: 1rem;
  margin: 0 auto;
}
.subLabel{
  width: 30%;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: left;
}
.subInput{
  display: inline-block;
  width: 50%;
  border: none;
  border-bottom: solid 0.01rem #2B2119;
  border-radius: 0;
  padding: 0 0 0 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  color: #2B2119;
  background-color: #ECDCCB;
}
.btn {
  background-color: #55705A;
  border: none;
  line-height: 1rem;
  width: 45%;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.3rem;
}
.delBtn {
  background-color: #E48873;
}