@font-face {
  src : url("../font/NanumSquareRoundR.ttf");
  font-family: "NanumR"
}

html{
  height: 100%;
}
body{
  font-family: "NanumR";
}

#container{
  margin: 0 auto;
  background-color: white;
}

.subTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

header{
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 2rem;
  color: #101357;
  cursor: pointer;
}

#footerArea{
  position:absolute;
  bottom:0;
  width:100%;
  height:3rem;
  background:#ECDCCB;
  text-align: center;
}
.footerMenu{
  margin: 0.5rem 1rem;
  width: 2rem;
}

.pointer{
  cursor: pointer;
}


