@font-face {
  src : url("../font/NanumSquareRoundR.ttf");
  font-family: "NanumR"
}

html{
  height: 100%;
}
body{
  font-family: "NanumR";
}

#container{
  margin: 0 auto;
  background-color: white;
}

.subTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

header{
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 2rem;
  color: #101357;
  cursor: pointer;
}

/*.row>* {
  padding: 1.2rem !important;
}*/
#footerArea{
  border-top: solid 0.1rem #2B2119;
  position:absolute;
  bottom:0;
  width:100%;
  vertical-align: center;
  padding: 0.3rem;
}
.footerMenu{
  padding: 0 1rem;
  text-align: center;
  width: 1.5rem;
}

.pointer{
  cursor: pointer;
}


