@font-face {
  src : url("../font/NanumSquareRoundR.ttf");
  font-family: "NanumR"
}

html{
  height: 100%;
}
body{
  font-family: "NanumR";
}

#container{
  margin: 0 auto;
  background-color: white;
}

.subTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}


/*header.html*/
header{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 2rem;
  margin-top: 1.5rem;
  color: black;
  cursor: pointer;
}
#headerTitle{
  font-size: 1rem;
  width: 88%;
  margin: 0 auto;
}
.titleIcon {
  margin-top: 0.25rem;
  width: 1.3rem;
  height: auto;
  cursor: pointer;
}
.titleIconMenu {
  float: left;
}
.titleIconLogout {
  float: right;
}
#homeBtn {
  float: left;
}
.loginInfo {
  font-size: 0.75rem;
  margin: 0 auto;
  color: #55705A;
  display: flex;
  flex-basis: 100%;
  align-items: center;
}
.loginInfo::before,
.loginInfo::after {
  content: "";
  flex-grow: 1;
  background: #55705A;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}

/*footer.html*/
#footerArea{
  display: block;
  text-align: center;
  border-top: solid 0.1rem #2B2119;
  position:absolute;
  bottom:0;
  vertical-align: center;
  padding: 0.3rem 1rem;
  width: 100%;
  margin: 0 auto !important;
  background-color: #f8f2ec;
}
.footerMenu{
  width: 3.5rem !important;
  height: auto !important;
  text-align: center;
}


/*기타 공통*/
.pointer{
  cursor: pointer;
}
.select-selected {
  color: whitesmoke !important;
  background: #bf5279 !important;
}

