header{
  margin-top: 1.5rem;
  color: black;
}
#headerTitle{
  font-size: 1rem;
  width: 90%;
  margin: 0 auto;
}
.titleIcon {
  margin-top: 0.4rem;
  width: 1.2rem;
  height: auto;
}
.titleIconMenu {
  float: left;
}
.titleIconLogout {
  float: right;
}