.menu {
  align-content: center;
  margin: 0 auto;
  width: 90%;
}
.indexMenu {
  font-size: 0.5rem;
  display: inline-block;
  cursor: pointer;
}
.menuName {
  display: block;
  text-align: center;
  margin: 0.5rem auto;
  width: 100%;
  font-weight: bold;
}
.menuIcon{
  display: block;
  width: 2.8rem;
  height: auto;
  margin: 0 auto;
  border-radius: 0.6rem;
}


.center {
  color: black;
  font-size: 0.7rem;
  width: 100%;
  margin: 1rem auto;
  text-align: left;
}

.indexContents{
  border: solid 0.01rem #e48873;
  border-left: solid 0.5rem #e48873;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  padding: 1rem;
  font-size: 0.7rem;
  margin: 1rem;
}
.indexNotice2 {
  border: solid 0.01rem #2B2119;
  border-left: solid 0.5rem #2B2119;
}
.indexContents>div{
  line-height: 1rem;
  margin-bottom: 1rem;
}
.indexContentsImg{
  height: 1.2rem;
  width: auto;
  margin-right: 0.5rem;
}
.indexContentsTitle{
  font-weight: bold;
  font-size: 0.8rem;
}
.more{
  float: right;
  color: #2B2119;
  text-decoration: underline;
}
.indexContentsDetail{
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  width: 90%;
}
.indexContentsDetailInfo {
  background-color: #ECDCCB;
  border-radius: 0.2rem;
  margin-right: 1rem;
  padding: 0.3rem;
  font-weight: bold;
}
