.center{
  width: 90%;
  margin: 8em auto;
  text-align: left;
}
#loginType{
  margin-bottom: 2em;
}
#loginType>input, #loginType>span{
  margin-right: 1em;
}
#loginForm{
  margin-left: 1em;
  line-height: 3em;
  width: 90%;
}
#loginForm>div>span{
  width: 25%;
}
#loginForm>button{
  display: inline-block;
  float: right;
  margin-top: 1em;
  width: 100%;
}