.center{
  width: 90%;
  margin: 120px auto;
  text-align: left;
}
#loginType{
  margin-bottom: 20px;
}
#loginType>input{
  margin-right: 10px;
}
#loginForm{
  margin-left: 20px;
  line-height: 40px;
}
#loginForm>span{
  display: inline-block;
  width: 30%;
}
#loginForm>input{
  border: none;
  border-bottom: solid 1px black;
  width: 55%;
}
#loginForm>button{
  display: inline-block;
  float: right;
  margin-top:20px;
  width: 40%;
  line-height: 20px;
}