.center {
  color: black;
  font-size: 1rem;
  width: 80%;
  margin: 1rem auto;
  text-align: left;
}
.subTitle {
  text-align: center;
}
.area {
  margin-top: 0.5rem;
}
.choice {
  border: solid 0.01rem lightgrey;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  padding: 0.3rem;
}

.checkedChoice {
  background-color: #0a58ca;
  color: white;
}

.hiddenTeacherId {
  display: none;
}