.subTitle {
  margin-left: 8%;
}
#dateArea {
  text-align: center;
  background-color:  #ECDCCB;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
}
.dateAreaInput {
  width: 40%;
  font-size: 0.7rem;
  font-weight: bold;
  display: inline-block;
  border: none;
}
#year {
  width: 30%;
}
#week {
  margin: 0.7rem auto 0;
  width: 70%;
}
.weekNo {
  font-size: 0.8rem;
  background-color: white;
  padding: 0.2rem 0.4rem;
  margin: 0 0.3rem;
}
.checkedWeekNo {
  background-color: #55705A;
  color: white;
  font-weight: bold;
  border: solid 0.05rem #2B2119;
}


/*!*owlCarousel*!
#date {
  text-align: center;
  margin-top: 1rem;
}
.dateDetail {
  text-align: center;
  padding: 0.5rem;
  width: 2.5rem;
  height: 3.2rem;
  border-radius: 0.3rem;
  margin: 0 auto;
}
.dateDetail > span {
  display: block;
}
.day {
  font-size: 0.7rem;
}
.owl-item {
  background-color: #f8f2ec;
  border-radius: 0.3rem;
}
.center {
  background-color: #55705A;
  font-weight: bold;
  color: white;
}*/



.scheduleArea {
  color: black;
  font-size: 0.9rem;
  padding: 1rem;
  text-align: center;
  border-top: solid 0.1rem #2B2119;
}
.scheduleAreaDetail {
  background-color: white;
  border: solid 0.1rem #55705A;
  border-radius: 0.5rem;
  width: 80%;
  margin: 2rem auto;
  cursor: pointer;
}
.timeArea {
  margin: 0.5rem 0.5rem 0 0.5rem;
}
.time {
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem;
  color: #2B2119;
}
.smallImg {
  width: 0.9rem;
  height: auto;
  padding-bottom: 0.1rem;
}
.letterSpace {
  margin-right: 0.2rem;
}
