<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout_admin}">
<head>
  <link th:href="@{css/admin.css}" rel="stylesheet">
  <script th:src="@{js/admin.js}"></script>
</head>

<div layout:fragment="content">
  <div id="container">
    <div class="center" th:if="${session.loginType}=='3'">
      <div class="area registerArea">
        <span class="adminTitle">Register</span>
        <hr>
        <div class="adminMenu" onclick="location.href='/admin/peopleRegister'">
          <img class="menuIcon" th:src="@{image/admin/person.png}"/>
          <span class="menuName">인원 등록하기</span>
        </div>
        <div class="adminMenu" onclick="location.href='/admin/scheduleRegister'">
          <img class="menuIcon" th:src="@{image/admin/schedule.png}"/>
          <span class="menuName">공통 일정 등록하기</span>
        </div>
      </div>
      <div class="area manageArea">
        <span class="adminTitle">Management</span>
        <hr>
        <div class="adminMenu" onclick="location.href='/admin/peopleManage'">
          <img class="menuIcon" th:src="@{image/admin/person.png}"/>
          <span class="menuName">인원 관리하기</span>
        </div>
        <div class="adminMenu" onclick="location.href='/admin/deptManage'">
          <img class="menuIcon" th:src="@{image/admin/dept.png}"/>
          <span class="menuName">학과 관리하기</span>
        </div>
        <div class="adminMenu" onclick="location.href='/admin/scheduleManage'">
          <img class="menuIcon" th:src="@{image/admin/schedule.png}"/>
          <span class="menuName">모든 일정관리하기</span>
        </div>
      </div>
    </div>
  </div>
</div>

</html>