<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout_admin}">
<head>
  <link th:href="@{css/admin/admin.css}" rel="stylesheet">
  <link th:href="@{css/admin/adminPeopleManage.css}" rel="stylesheet">
  <link th:href="@{css/admin/adminEditAccount.css}" rel="stylesheet">
  <script th:src="@{js/admin/adminEditAccount.js}"></script>
</head>

<div layout:fragment="content">
  <div id="container">
    <div class="center2" th:if="${session.loginType}=='3'">
      <div class="area2 titleArea">
        <span class="subTitle mb-3" onclick="location.href='/admin'">Register</span>
        <div>
          <img class="backBtn" th:src="@{image/admin/back.png}" onclick="location.href='/admin/adminPeopleManage'"/>
          <div th:if="${#strings.equals('1',type)}" class="mb-3">
            <span class="secondTitle" th:onclick="location.href='/admin/adminEditAccount?type=1&no=''+@{${teacherDto.teacher_no}}+'">계정 수정/삭제</span>
          </div>
          <div th:if="${#strings.equals('2',type)}" class="mb-3">
            <span class="secondTitle" th:onclick="location.href='/admin/adminEditAccount?type=2&no=''+@{${studentDto.student_no}}+'">계정 수정/삭제</span>
          </div>
        </div>
      </div>

        <div class="editAccountArea">
          <div th:if="${#strings.equals('1',type)}" class="mb-3">
            <label for="teacher_id" class="form-label subLabel">아이디</label>
            <input type="text" class="form-control subInput" id="teacher_id" name="teacher_id" th:value="${teacherDto.teacher_id}"><br>
            <label for="teacher_password" class="form-label subLabel">비밀번호</label>
            <input type="text" class="form-control subInput" id="teacher_password" name="teacher_password"><br>
            <label for="teacher_name" class="form-label subLabel">이름</label>
            <input type="text" class="form-control subInput" id="teacher_name" name="teacher_name" th:value="${teacherDto.teacher_name}"><br>
            <label for="teacher_dept" class="form-label subLabel">소속</label>
            <input type="text" class="form-control subInput" id="teacher_dept" name="teacher_dept" th:value="${teacherDto.teacher_dept}"><br>
            <label for="teacher_position" class="form-label subLabel">직위</label>
            <input type="text" class="form-control subInput" id="teacher_position" name="teacher_position" th:value="${teacherDto.teacher_position}"><br>
          </div>

          <div th:if="${#strings.equals('2',type)}" class="mb-3">
            <label for="student_id" class="form-label subLabel">아이디</label>
            <input type="text" class="form-control subInput" id="student_id" name="student_id" th:value="${studentDto.student_id}"><br>
            <label for="student_password" class="form-label subLabel">비밀번호</label>
            <input type="text" class="form-control subInput" id="student_password" name="student_password"><br>
            <label for="student_name" class="form-label subLabel">이름</label>
            <input type="text" class="form-control subInput" id="student_name" name="student_name" th:value="${studentDto.student_name}"><br>
            <label for="student_grade" class="form-label subLabel">학년</label>
            <input type="text" class="form-control subInput" id="student_grade" name="student_grade" th:value="${studentDto.student_grade}">
          </div>

          <div class="btnArea">
            <button class="btn btn-primary editBtn" type="submit" onclick="func_editAccount()">수정하기</button>
            <button class="btn btn-primary delBtn" type="submit" onclick="func_delAccount()">삭제하기</button>
          </div>

          <div class="error"></div>

          <input type="hidden" id="type" th:value="${type}"/>
        </div>

      </div>

    </div>
  </div>
</div>
</html>