<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout-withMenu}">
<head>
  <link rel="stylesheet" th:href="@{css/index.css}" >
  <script th:src="@{js/index.js}"></script>
</head>

<div layout:fragment="content">
  <div id="container">
    <div class="center">
      <div class="menu row row-cols-4">
        <div th:if="${session.loginType}=='1'" class="indexMenu col" onclick="location.href='/report_t'">
          <img class="menuIcon" th:src="@{image/index/report.png}"/>
          <span class="menuName">Report</span>
        </div>
        <div th:if="${session.loginType}=='2'" class="indexMenu col" onclick="location.href='/report_s'">
          <img class="menuIcon" th:src="@{image/index/report.png}"/>
          <span class="menuName">Report</span>
        </div>
        <div class="indexMenu col" onclick="location.href='/schedule'">
          <img class="menuIcon" th:src="@{image/index/schedule.png}"/>
          <span class="menuName">Schedule</span>
        </div>
        <div class="indexMenu col" onclick="location.href='/notice'">
          <img class="menuIcon" th:src="@{image/index/notice.png}"/>
          <span class="menuName">Notice</span>
        </div>
        <div class="indexMenu col" onclick="location.href='/mypage'">
          <img class="menuIcon" th:src="@{image/index/mypage.png}"/>
          <span class="menuName">MyPage</span>
        </div>
      </div>


      <!-- 공지사항 부분 -->
      <div class="indexContents indexNotice1">
        <div>
          <span class="indexContentsTitle">최근 주요 공지사항</span>
          <span class="more">more</span>
        </div>
        <p class="indexContentsDetail">
          <span class="indexContentsDetailInfo">외과</span>
          <span class="noticeSubject">외과 레포트 검사 없습니다.</span>
        </p>
      </div>

      <!-- 오늘의 일정부분 -->
      <div class="indexContents indexNotice2">
        <div>
          <span class="indexContentsTitle">오늘 레포트검사 일정</span>
          <span class="more">more</span>
        </div>
        <p class="indexContentsDetail">
          <span class="indexContentsDetailInfo">PM 2:00</span>
          <span class="noticeSubject">외과 OOO 선생님</span>
        </p>
        <p class="indexContentsDetail">
          <span class="indexContentsDetailInfo">PM 5:00</span>
          <span class="noticeSubject">내과 OOO 선생님</span>
        </p>
      </div>

    </div>
  </div>
</div>

</html>