<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
  <link rel="stylesheet" th:href="@{css/index.css}" >
  <script th:src="@{js/index.js}"></script>
</head>

<div layout:fragment="content">
  <div id="container">
    <div class="center">
      <div class="menu row row-cols-4">
        <div th:if="${session.loginType}=='1'" class="indexMenu col">
          <img class="menuIcon" th:src="@{image/index/report.png}" onclick="location.href='/report_t'"/>
          <span class="menuName" onclick="location.href='/report_t'">Report</span>
        </div>
        <div th:if="${session.loginType}=='2'" class="indexMenu col">
          <img class="menuIcon" th:src="@{image/index/report.png}" onclick="location.href='/report_s'"/>
          <span class="menuName" onclick="location.href='/report_s'">Report</span>
        </div>
        <div class="indexMenu col" >
          <img class="menuIcon" th:src="@{image/index/schedule.png}" onclick="location.href='/schedule'"/>
          <span class="menuName" onclick="location.href='/schedule'">Schedule</span>
        </div>
        <div class="indexMenu col" >
          <img class="menuIcon" th:src="@{image/index/notice.png}" onclick="location.href='/notice'"/>
          <span class="menuName" onclick="location.href='/notice'">Notice</span>
        </div>
        <div class="indexMenu col" >
          <img class="menuIcon" th:src="@{image/index/mypage.png}" onclick="location.href='/mypage'"/>
          <span class="menuName" onclick="location.href='/mypage'">MyPage</span>
        </div>
      </div>


      <!-- 공지사항 부분 -->
      <div class="indexContents indexNotice1">
        <div>
          <span class="indexContentsTitle">최근 주요 공지사항</span>
          <span class="more moreNotice">more</span>
        </div>
        <p class="indexContentsDetail">
          <span class="indexContentsDetailInfo1">외과</span>
          <span class="noticeSubject">외과 레포트 검사 없습니다.</span>
        </p>
      </div>

      <!-- 오늘의 일정부분 -->
      <div class="indexContents indexNotice2">
        <div>
          <span class="indexContentsTitle">오늘 레포트검사 일정</span>
          <span class="more moreSchedule">more</span>
        </div>
        <div class="indexSchedule"></div>
      </div>
    </div>

    <input type="hidden" id="loginType" th:value="${session.loginType}">
  </div>
</div>

</html>