<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout-default}">
  <head>
    <link rel="stylesheet" th:src="@{css/login.css}">
    <script th:src="@{js/login.js}"></script>
  </head>

  <div layout:fragment="content">
    <div id="container">
      <div class="center">
        <form name="loginForm" id="loginForm" th:action="@{/login}" method="post" onsubmit="return func_login()">

          <div id="loginType">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" th:name="inlineRadioOptions" id="teacher" value="1" checked="checked">
              <label class="form-check-label" for="teacher">Teacher</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" th:name="inlineRadioOptions" id="student" value="2">
              <label class="form-check-label" for="student">Student</label>
            </div>
          </div>

          <div id="loginInput">
            <div class="input-group input-group-sm mb-3">
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" th:name="id" id="id" placeholder="아이디">
            </div>
            <div class="input-group input-group-sm mb-3">
              <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" th:name="password" id="password" placeholder="비밀번호">
            </div>
            <span id="error" th:text="${loginFailed}"></span>
            <button type="submit" class="btn btn-primary loginBtn" th:onclick="func_login">로그인</button>
          </div>

          <div class="line"></div>

          <button type="button" class="btn btn-outline-secondary googleLogin">구글로 로그인</button>


        </form>

      </div>
    </div>
  </div>

</html>