<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta charset="UTF-8">
    <link href="../static/css/common.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
    <title>레포트 예약 및 공지시스템</title>
  </head>
  <body>
    <div id="container">
      <div id="container2">
        <header>조치대 레포트 공지</header>
        <div class="center">
          <div id="loginType">
            <input type="checkbox"><span>선생님</span>
            <input type="checkbox"><span>학생</span>
          </div>
          <div>
            <form id="loginForm">
              <span class="loginInput">아이디</span><input type="text"><br>
              <span class="loginInput">비밀번호</span><input type="text">
              <button>Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="js/index.js"></script>
  </body>
</html>