<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout_withFooter}">
<head>
  <link th:href="@{css/mypage.css}" rel="stylesheet">
  <script th:src="@{js/mypage.js}"></script>
</head>

<div layout:fragment="content">
  <div id="container">
    <div class="center">
      <div class="area">
        <span class="subTitle mb-3" onclick="location.href='/mypage'">Mypage</span>

        <div class="profileArea">
          <img class="profile" th:src="@{image/mypage/profile.png}"/>
        </div>

        <div class="settingArea">
          <span class="choice editAccount">계정 관리하기</span>
        </div>

      </div>



    </div>
  </div>
</div>

</html>