<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout_admin}">
<head>
  <link th:href="@{css/admin.css}" rel="stylesheet">
  <link th:href="@{css/peopleRegister.css}" rel="stylesheet">
  <script th:src="@{js/peopleRegister.js}"></script>
</head>

<div layout:fragment="content">
  <div id="container">
    <div class="center2" th:if="${session.loginType}=='3'">
      <div class="area2 titleArea">
        <span class="subTitle mb-3" onclick="location.href='/admin'">Register</span>
        <div>
          <img class="backBtn" th:src="@{image/admin/back.png}" onclick="location.href='/admin'"/>
          <span class="secondTitle" onclick="location.href='/admin/peopleRegister'">인원 등록하기</span>
        </div>
      </div>

      <div class="row check typeCheck">
        <div class="col-xs-6" id="studentCheck" onclick="func_studentBtn()">Student</div>
        <div class="col-xs-6" id="teacherCheck" onclick="func_teacherBtn()">Teacher</div>
      </div>

      <div class="area2 helpArea"></div>

      <div class="area2 formArea">

        <div class="area2 inputArea"></div>

        <div class="addBtn" onclick="func_addStudent(this)">
          <img class='/' src='image/admin/addPerson.png' />
        </div>

        <div id="error"></div>

        <div>
          <button type="submit" class="btn btn-primary registerBtn" th:onclick="func_peopleRegister">
            저장하기
          </button>
        </div>

        <input type="hidden" id="idAll"/>
        <input type="hidden" id="nameAll"/>
        <input type="hidden" id="gradeAll"/>

      </div>

    </div>
  </div>
</div>

</html>