<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout_withFooter}">
<head>
  <link th:href="@{css/header.css}" rel="stylesheet">
  <link th:href="@{css/report_t.css}" rel="stylesheet">
  <script th:src="@{js/report_t.js}"></script>
</head>

<div layout:fragment="content">
  <div id="container">
    <div class="center">

      <div class="area choosenArea">
        <span class="subTitle mb-3" onclick="location.href='/report_t'">Report</span>
        <br>
      </div>

      <button type="button" id="makeSchedule" onclick="location.href='/report_t/makeSchedule?no=0'">+ 일정 추가하기</button>

      <div th:if="${schedule}==''" class="area firstArea">
        <th:block th:each="dto:${scheduleList}">
          <div class="subArea" th:id="${dto.schedule_no}" onclick="func_edit(this, this.id)">
            <img class="smallImg" th:src="@{image/report/date.png}"/>
            <span class="date" th:text = "${dto.schedule_date}"/><br>

            <img class="smallImg" th:src="@{image/report/time.png}"/>
            <span class="startTime" th:text="${dto.schedule_start}"></span>
            <span> - </span>
            <span class="endTime" th:text="${dto.schedule_end}"></span><br>

            <img class="smallImg" th:src="@{image/report/attender.png}"/>
            <span th:text="${dto.schedule_space}"></span>
            <span> 명</span>
          </div>
        </th:block>
      </div>


      <div th:if="${schedule}!=''" class="area firstArea">
        <span th:text="${schedule}"></span>
      </div>

    </div>
  </div>
</div>

</html>