<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout-withMenu}">
<head>
  <link th:href="@{css/header.css}" rel="stylesheet">
  <link th:href="@{css/request.css}" rel="stylesheet">
  <script th:src="@{js/request.js}"></script>
</head>

<div layout:fragment="content">
  <div id="container">
    <div class="center">

      <div class="area">
        <span class="question" id="firstQuestion">검사요청할 과를 선택해주세요</span><br>
        <th:block th:each="dept:${deptList}">
          <span class="choice dept" th:text="${dept}"></span>
        </th:block>
      </div>

      <div class="area secondArea">
        <span class="question" id="secondQuestion">교수님 또는 선생님을 선택해주세요</span><br>
        <th:block th:each="teacher:${teacherList}">
          <span class="choice teacher" th:text="${teacher}" ></span>
        </th:block>
      </div>

      <div class="area thirdArea"></div>

      <form name="selected" id="selected" action="/search" method="post">
        <input type="hidden" name="checkedDept" id="checkedDept"/>
        <input type="hidden" name="checkedTeacher" id="checkedTeacher"/>
      </form>
    </div>
  </div>
</div>

</html>