<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout_withFooter}">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" th:href="@{css/schedule.css}">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
          integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script th:src="@{js/schedule.js}"></script>
</head>

<div layout:fragment="content">
  <div id="container">

    <input type="hidden" id="todayDate" th:value="${todayDate}">
    <input type="hidden" id="loginType" th:value="${session.loginType}">

    <span class="subTitle mb-3" onclick="location.href='/schedule'">Schedule</span>

    <div id="dateArea">
      <select class="form-select form-select-sm dateAreaInput" aria-label=".form-select-sm example"
              id="year" name="year">
      </select>
      <select class="form-select form-select-sm dateAreaInput" aria-label=".form-select-sm example"
              id="month" name="month">
      </select>
      <div class="row" id="week" name="week"></div>

      <!-- 일자별로 나타내고자 하는경우, owl-carousel
      <div id="date">
        <div class="owl-carousel owl-theme">
          <th:block th:each="list:${dayList}">
            <div class="item" th:data-hash="${#strings.arraySplit(list,'*')[0]}">
              <div class="dateDetail">
                <span class="day" th:text="${#strings.arraySplit(list,'*')[2]}"></span>
                <span class="date" th:text="${#strings.arraySplit(list,'*')[1]}"></span>
              </div>
            </div>
          </th:block>
        </div>
      </div>-->

    </div>

    <!-- 선생님 일정을 보여주는 부분 -->
    <div class="scheduleArea" th:if="${session.loginType}=='1' and ${scheduleList!=null}">
      <th:block th:each="dto:${scheduleList}">
        <div class="scheduleAreaDetail" th:value="${dto.schedule_no}"
             th:onclick="'func_detail(' + ${dto.schedule_no} + ')'">
          <div class="timeArea">
            <span class="time" th:text="${dto.schedule_start}"></span>
            <span class="time">  -  </span>
            <span class="time" th:text="${dto.schedule_end}"></span>
          </div>
          <img class="smallImg" th:src="@{image/report/attender.png}"/>
          <span th:text="${#lists.size(#strings.arraySplit(dto.schedule_attender,','))}"></span>
          <span> / </span>
          <span th:text="${dto.schedule_space}" class="import"></span>
        </div>
      </th:block>
    </div>
    <div class="scheduleArea" th:if="${session.loginType}=='1' and ${scheduleList==null}">
      <div class="scheduleAreaDetail">오늘 일정은 없습니다.</div>
    </div>

    <!-- 학생 일정을 보여주는 부분 -->
    <div class="scheduleArea" th:if="${session.loginType}=='2' and ${scheduleList!=null}">
      <th:block th:each="list:${scheduleList}">
        <div class="scheduleAreaDetail" th:value="${#strings.arraySplit(list,',')[0]}"
              onclick="func_detail(this)">
          <div class="timeArea">
            <span class="time" th:text="${#strings.arraySplit(list,',')[1]}"></span>
            <span class="time">  -  </span>
            <span class="time" th:text="${#strings.arraySplit(list,',')[6]}"></span>
          </div>
          <span class="letterSpace">[ </span>
          <span class="letterSpace" th:text="${#strings.arraySplit(list,',')[2]}"></span>
          <span class="letterSpace"> ]</span>
          <br>
          <span class="letterSpace" th:text="${#strings.arraySplit(list,',')[3]}"></span>
          <span th:text="${#strings.arraySplit(list,',')[4]}"></span>
        </div>
      </th:block>
    </div>
    <div class="scheduleArea" th:if="${session.loginType}=='2' and ${scheduleList==null}">
      <div class="scheduleAreaDetail">오늘 일정은 없습니다.</div>
    </div>

  </div>
</div>

</html>